<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="NicksPlugin" version="0.0.1">
   <name>NicksPlugin</name>
   <description />
   <license>MIT</license>
   <keywords />
   <repo>https://github.com/rockshassa/NicksPlugin.git</repo>
   <issue>https://github.com/rockshassa/NicksPlugin</issue>
   <js-module name="plugin" src="www/plugin.js">
      <runs />
      <clobbers target="NicksPlugin" />
   </js-module>
   <config-file parent="/*" target="config.xml">
      <feature name="NicksPlugin">
         <param name="ios-package" value="NicksPlugin" />
      </feature>
   </config-file>
   <header-file src="src/ios/NicksPlugin.h" />
   <source-file src="src/ios/NicksPlugin.m" />
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="NicksPlugin">
            <param name="ios-package" value="NicksPlugin" />
         </feature>
      </config-file>
      <source-file src="src/ios/NicksPlugin.m" />
   </platform>
</plugin>