<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.rockshassa.nicksPlugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>nicksPlugin</name>
    <js-module name="nicksPlugin" src="www/nicksPlugin.js">
        <clobbers target="cordova.plugins.nicksPlugin" />
    </js-module>
</plugin>
